{{!< ../layouts/default}}

<div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <p>I know someone who <span id="group">has cancer.</span></p>
            <p><a class="btn btn-primary btn-lg" role="button" href="/has_cancer" id="get-more">Get do's and don'ts</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-3">
          <h3 class="footer-heads">Featured Tips</h3>
          <div id="tips">
            <h4>If someone you know has cancer:</h4>
            <ul id="dos-list">
              <li><strong>Do</strong> offer to listen. <p class="example">Example: "If you would like to talk about it, I am here."</p></li>
            </ul>
            <ul id="donts-list">
              <li><strong>Don't</strong> focus on appearances. <p class="example">Example: "Wow, you're losing a lot of weight!"</p></li>
            </ul>
          </div>
          <p><a class="btn btn-primary" href="/has_cancer" role="button" id="view-more">View more tips</a></p>
        </div>
        <div class="col-md-3">
          <h3 class="footer-heads">Someone...</h3>
          <ul id="browse-topics-footer">
            {{#each groups}}
                <li><a href="/{{urlName}}">{{name}}</a></li>
              {{/each}}
          </ul>
        </div>
        <div class="col-md-3">
          <!-- <h3 class="footer-heads">Submit Tips</h3>
          Don't see the topic you're looking for? Add it yourself!<br><br><br><br>
          <p><a class="btn btn-primary" href="/new" role="button" id="submit-topic">Submit topics</a></p>
           -->
           <h3 class="footer-heads">About</h3>
           This site was created in 24 hours at the 2013 Health Literacy Hackathon. Stay tuned as we continue to improve the site.<br/><br/>
           <p><a class="btn btn-primary" href="/about" role="button" id="submit-topic">Read More</a></p>
        </div>
      </div>
    </div><br/>