{{!< ../layouts/default}}


<div class="content">
    <div class="container">
        <div class="page-header">
            <h1>Create New Group</h1>
        </div>
        <form method="post" action="/create">
            <input type="text" placeholder="group name" name="name"/>
            <input type="submit" class="btn" value="Add" />
        </form>
    </div>
</div>
