{{!< ./layouts/default}}


<div class="content">
    <div class="container">
    	<div class="row">
    		<div class="col-md-9">
		        <div class="page-header">
		            <h1>About</h1>
		        </div>
		        <p>This site was developed at the 2013 <a href="https://healthliteracyhackathon.eventbrite.com/">Health literacy hackathon</a>. There are many features yet to be implemented. Some appear to be working but are not. Content is from the government, non-profit organizations, and users. Adding citations now.</p>

		        <p><a href="https://github.com/zekenie/dodont">Github</a></p>

		        <p><a href="https://news.ycombinator.com/item?id=6664119">Hackernews discussion</a>. </p>

		        <p><a href="https://news.ycombinator.com/item?id=6664405">One specific problem and our apology (HN)</a></p>

		        <p></p>
		    </div>
	    </div>
    </div><br/><br/>


