{{!< ./layouts/default}}


<div class="content">
    <div class="container">
    	<div class="row">
    		<div class="col-md-9">
		        <div class="page-header">
		            <h1>About</h1>
		        </div>
		        <p>This site was developed at the 2013 Health literacy hackathon. There are many features yet to be implemented. Some appear to be working but are not. Content is from the government, non-profit organizations, and users. Adding citations now.</p>
		    </div>
	    </div>
    </div><br/><br/>


