<!DOCTYPE html>
<html>
<head>
	<title>Jumbotron Template for Bootstrap</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet">

	<link href="style.css" rel="stylesheet">
	<style>

	</style>
</head>
<body>
	<div id="header">
		<div class="container">
			<div class="row" id="banner">
				<div class="col-md-6">
					<h1>Tactful</h1>
				</div>
				<div class="col-md-3">
					<div class="dropdown">
						<a class="btn btn-default btn-lg dropdown-toggle" role="button" id="dropdown" data-toggle="dropdown">
							<span id="browse-topics">Browse Topics</span>
							<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								{{#each groups}}
									<li><a href="/{{urlName}}">{{name}}</a></li>
								{{/each}}
							</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{{{body}}}
<div style="text-align:center">Don't see a topic you're looking for? <a href="/new">Add a new topic</a>.</div>
 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>


<iframe style="position: absolute; width: 1px; height: 1px; top: 0px; left: 0px; visibility: hidden;"></iframe><sfmsg id="sfMsgId" data="{&quot;imageCount&quot;:0,&quot;ip&quot;:&quot;1.1.1.1&quot;}"></sfmsg><span id="sfButtons"></span></body></html>